<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Upgrade your server</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <h1>Not available</h1>

    <p>Later you will be upgraded and join the cyber force.</p>
    <div *ngIf="session">
        <p>Your current state is {{session.state}}</p>
        <p>Your license is {{session.privilege}}</p>

        <div [ngSwitch]="session.privilege">
            <div>

            </div>
        </div>
    </div>

</ion-content>
