<ion-row>
    <app-monitor-ping-card [ping]="stats.stats.ping"></app-monitor-ping-card>
    <app-monitor-user-card [currentUser]="stats.stats.userCurrent"
                           [maxUser]="stats.stats.userMax"></app-monitor-user-card>
    <app-monitor-software-card [type]="stats.stats.type"></app-monitor-software-card>
    <app-monitor-module-card [sid]="stats.id"></app-monitor-module-card>
</ion-row>


<app-servertree *ngIf="tree" [sid]="stats.id" [tree]="tree"></app-servertree>
