<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Poke user</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <app-user-poke [sid]="sid"></app-user-poke>

</ion-content>
