<ion-col class="ion-no-padding" size="12" sizeMd="6">
    <ion-card color="primary">
        <ion-card-header>
            <ion-card-title>
                <ion-spinner *ngIf="state==0 || state==null" color="light" name="crescent" ></ion-spinner>
                <ion-icon *ngIf="state==1" color="success" name="checkmark-circle"></ion-icon>
                <ion-icon *ngIf="state==2" color="danger" name="warning"></ion-icon>
                {{title}}
            </ion-card-title>
        </ion-card-header>
        <ion-card-content style="white-space: pre-line;">
            {{value}}
        </ion-card-content>
    </ion-card>
</ion-col>
