<ion-card *ngIf="treeState==0" color="primary">
    <ion-card-header>
        <ion-card-title>
            <ion-spinner color="light" name="crescent"></ion-spinner>
            Loading server map...
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        This may take a few seconds ;)
    </ion-card-content>
</ion-card>

<ion-card *ngIf="treeState==2" color="primary">
    <ion-card-header>
        <ion-card-title>An error occured</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        Please try to reload the server map :(
    </ion-card-content>
</ion-card>

<ion-card *ngIf="treeState==1" [color]="treeState==1?'primary':'secondary'"class="ion-no-padding">
    <ion-card-header>
        <ion-card-title *ngIf="level==0">{{tree.name}}</ion-card-title>
        <ion-card-subtitle *ngIf="level!=0" color="primary">
            <ion-icon name="folder-open" slot="start"></ion-icon>
            {{tree.name}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content class="ion-no-padding">
        <ion-button *ngIf="sid!=undefined" [routerLink]="['/poke/' + sid]" color="secondary">Poke user</ion-button>
        <div *ngFor="let c of tree.clients" style="margin-left: 10px">
            <ion-chip color="light">
                <ion-icon name="contact"></ion-icon>
                <ion-label>{{c}}</ion-label>
            </ion-chip>
        </div>
        <app-servertree *ngFor="let c of outputTree.subchannel" [level]="level+1" [tree]="c"></app-servertree>
    </ion-card-content>
</ion-card>

