
<app-channel-input [sid]="sid" [channelReference]="data.channel" text="Support Channel"></app-channel-input>
<app-servergroup-input [sid]="sid" [servergroupReference]="data.group" text="Support server group"> </app-servergroup-input>

<ion-item>
  <ion-label>Show online team members in description</ion-label>
  <ion-checkbox [(ngModel)]="data.showOnline"></ion-checkbox>
</ion-item>

<ion-item>
  <ion-label>Support poke</ion-label>
  <ion-input [(ngModel)]="data.supportMessage"></ion-input>
</ion-item>

<ion-item>
  <ion-label>User poke</ion-label>
  <ion-input [(ngModel)]="data.userMessage"></ion-input>
</ion-item>