<ion-grid>
    <ion-row>
        <ion-col *ngFor="let client of clients">
            <ion-card color="primary">
                <ion-card-header>
                    <ion-card-title>
                        <ion-icon name="contact"></ion-icon>
                        {{client.nickname}}
                    </ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-col>UID</ion-col>
                            <ion-col>{{client.uid}}</ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col>Joined</ion-col>
                            <ion-col>{{client.joined}}</ion-col>

                        </ion-row>
                        <ion-row>
                            <ion-col>IP</ion-col>
                            <ion-col>{{client.ip}}</ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>Location</ion-col>
                            <ion-col>
                                <a *ngIf="client.zip" style="color: #fff"
                                   href="https://www.google.com/maps/search/?api=1&query={{client.latitude}},{{client.longitude}}"
                                   target="_blank">{{client.zip}}, {{client.city}}, {{client.country}}</a>
                            </ion-col>
                        </ion-row>
                    </ion-grid>


                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>
