<ion-content padding color="primary">
    <ion-button color="light" [routerLink]="['/']">
        <ion-icon name="arrow-back"></ion-icon>
        Home
    </ion-button>
    <ion-grid style="height:100%">
        <ion-row style="height:100%">
            <ion-col col-9>
                <h1 text-xl-start>BeeBot</h1>
                <br><br><br>
                <p>The login is secured via HTTPS</p>

            </ion-col>
            <ion-col col-3 class="ion-align-items-center">
                <ion-card color="light">
                    <ion-card-header>
                        <ion-card-title>Log in</ion-card-title>
                    </ion-card-header>
                    <br>
                    <ion-card-content>
                        <form>
                            <ion-item>
                                <ion-label>E-Mail</ion-label>
                                <ion-input name="username" [(ngModel)]="mail" type="email" floating
                                           placeholder="Mail address"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-label>Password</ion-label>
                                <ion-input name="password" [(ngModel)]="password" type="password" floating
                                           placeholder="Password"></ion-input>
                            </ion-item>
                            <br>
                            <a>By loggin in, you accept our <a [routerLink]="['/contact']">GDPR and some other stuff</a></a>
                            <br>
                            <ion-button *ngIf="!loggingIn" expand="full" (click)="login()">
                                <ion-icon color="light" slot="start" name="log-in"></ion-icon>
                                Log in
                            </ion-button>
                            <ion-button *ngIf="loggingIn" expand="full">
                                <ion-spinner slot="start" name="dots"></ion-spinner>
                            </ion-button>
                        </form>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>
