<ion-spinner *ngIf="modulesState==0" name="crescent"></ion-spinner>
<div *ngIf="modulesState==2" name="crescent">
    <h2>Could not load data</h2>
    <p>Please try to reload this page.</p>
</div>

<ion-grid>
    <ion-row>
        <ion-col *ngFor="let module of activeModules" size="12" sizeLg="6">
            <ion-card color="primary">
                <ion-card-header>
                    <ion-card-title>{{module.stateName}}</ion-card-title>
                    <ion-card-subtitle>{{module.name}}</ion-card-subtitle>
                </ion-card-header>

                <ion-card-content>
                    <ion-grid>
                        <ion-row>
                            <ion-icon *ngIf="!module.status.okay" color="danger" name="warning"></ion-icon>
                            {{module.status.date | date : 'medium'}} : {{module.status.message}}
                        </ion-row>
                        <ion-row>
                            <ion-col size="4">
                                <ion-button (click)="openLog(module)" color="light" expand="full">
                                    Logs
                                    <ion-icon name="list-box" slot="icon-only"></ion-icon>
                                </ion-button>
                            </ion-col>
                            <ion-col size="4">
                                <ion-button (click)="editModule(module)" *ngIf=" module.id>0" color="light"
                                            expand="full">
                                    Edit
                                    <ion-icon name="create" slot="icon-only"></ion-icon>
                                </ion-button>

                            </ion-col>
                            <ion-col size="4">
                                <ion-button (click)="deleteModule(module)" *ngIf=" module.id>0" color="danger"
                                            expand="full">
                                    Delete
                                    <ion-icon name="trash" slot="icon-only"></ion-icon>
                                </ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-grid>

                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-grid>

<ion-fab *ngIf="online.selectedServer" horizontal="end" slot="fixed" vertical="bottom">
    <ion-fab-button (click)="router.navigate(['/modules/'+sid+'/create'])" color="secondary">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>
