<div padding>
    <ion-item>
        <ion-label>Select from Template</ion-label>
        <ion-select [(ngModel)]="selectedTemplate" (ngModelChange)="templateChange()">
            <ion-select-option *ngFor="let template of templates"
                               [value]="template.message">{{template.title}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item-divider></ion-item-divider>
    <ion-item>
        <ion-label>Poke message</ion-label>
        <ion-input [(ngModel)]="message"></ion-input>
    </ion-item>

    <h3>Select user</h3>
    <ion-list>
        <ion-grid *ngIf="users">
            <ion-row>
                <ion-col *ngFor="let user of users" size="6">
                    <ion-item>
                        <ion-label>{{user.name}}</ion-label>
                        <ion-checkbox [(ngModel)]="user.selected"></ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-button size="small" (click)="selectAll()">
            <ion-icon name="add-circle"></ion-icon>
            Add all
        </ion-button>
        <ion-button size="small" (click)="selectNone()">
            <ion-icon name="remove-circle"></ion-icon>
            Remove all
        </ion-button>
        <ion-button size="small" (click)="reload()">
            <ion-icon name="refresh"></ion-icon>
            Reload
        </ion-button>
        <ion-button (click)="send()">
            <ion-icon name="send"></ion-icon>
            Send
        </ion-button>
    </ion-list>
</div>
