<h3>Block</h3>
<ion-item>
    <ion-label>Block default 'TeamspeakUser' username</ion-label>
    <ion-checkbox [(ngModel)]="data.blockDefaultUsername"></ion-checkbox>
</ion-item>

<ion-item>
    <ion-label>Block censored usernames</ion-label>
    <ion-checkbox [(ngModel)]="data.blockCensoredUsernames"></ion-checkbox>
</ion-item>

<ion-item>
    <ion-label>Strategy : {{stratDesc}}</ion-label>
    <ion-select [(ngModel)]="data.strategy" (ngModelChange)="strat()">
        <ion-select-option *ngFor="let s of strategies" [value]="s.id">{{s.title}}</ion-select-option>
    </ion-select>
</ion-item>


<h3>Channel Hopping</h3>
<ion-item>
    <ion-label>Block channel hopping: Kick if user hops {{data.hoppingTimes}} in {{data.hoppingSeconds}}s</ion-label>
    <ion-checkbox [(ngModel)]="data.blockChannelHopping"></ion-checkbox>
</ion-item>

<ion-item *ngIf="data.blockChannelHopping">
    <ion-label>Seconds</ion-label>
    <ion-input [(ngModel)]="data.hoppingSeconds" type="number" min="0" max="3600" ></ion-input>
</ion-item>

<ion-item *ngIf="data.blockChannelHopping">
    <ion-label>Times</ion-label>
    <ion-input [(ngModel)]="data.hoppingTimes" type="number" min="0" max="120" ></ion-input>
</ion-item>


<h3>Blocked Words</h3>
<ion-item>
    <ion-label>Predefined lists</ion-label>
    <ion-select [(ngModel)]="data.activatedLists" multiple="true" (ngModelChange)="updateWords()">
        <ion-select-option *ngFor="let list of blockedWords" [value]="list.name">{{list.name}}</ion-select-option>
    </ion-select>
</ion-item>


<h3>Advanced</h3>
<ion-item>
    <ion-label>Show Advanced settings</ion-label>
    <ion-checkbox [(ngModel)]="showExtended"></ion-checkbox>
</ion-item>

<div *ngIf="showExtended">
    <h4>Custom Blacklist</h4>
    <ion-item>
        <ion-label>Add word</ion-label>
        <ion-input [(ngModel)]="currentBlockWord"></ion-input>
        <ion-button (click)="addCurrentBlockWord()">
            <ion-icon name="add-circle"></ion-icon>
        </ion-button>
    </ion-item>

    <h4>Custom Whitelist</h4>
    <ion-item>
        <ion-label>Add word</ion-label>
        <ion-input [(ngModel)]="currentWhitelistWord"></ion-input>
        <ion-button (click)="addCurrentWhitelistWord()">
            <ion-icon name="add-circle"></ion-icon>
        </ion-button>
    </ion-item>

    <ion-button *ngIf="!showUsedWords" (click)="changeShowUsedWords()">Show blocked words</ion-button>
    <ion-button *ngIf="showUsedWords" (click)="changeShowUsedWords()">Hide blocked words</ion-button>

    <!-- BLACKLIST PRESET WORDS -->
    <div *ngIf="showUsedWords">
        <div *ngFor="let word of usedWords">
            <p>{{word.name}}</p>
            <ion-badge *ngFor="let w of word.blockedWords">{{w}}</ion-badge>
            <br>
        </div>
    </div>
    <!-- BLACKLIST -->
    <div *ngIf="showUsedWords && data.ownBlockwords.length!=0">
        <p>Own Blacklist</p>
        <ion-button *ngFor="let word of data.ownBlockwords" (click)="removeOwnWord(word)">{{word}}</ion-button>
    </div>
    <!-- WHITELIST -->
    <div *ngIf="showUsedWords && data.ownWhitelist.length!=0">
        <p>Own Whitelist</p>
        <ion-button *ngFor="let word of data.ownWhitelist" (click)="removeOwnWhitelist(word)">{{word}}</ion-button>
    </div>
</div>



