<app-privatechannelz-data *ngIf="moduleUniqueName=='privatechannelz'" [data]="data" [sid]="sid"></app-privatechannelz-data>
<app-ctafk-data *ngIf="moduleUniqueName=='ctafk'" [data]="data" [sid]="sid"></app-ctafk-data>
<app-antispam-data *ngIf="moduleUniqueName=='antispam'" [data]="data" [sid]="sid"></app-antispam-data>
<app-support-data *ngIf="moduleUniqueName=='support'" [data]="data" [sid]="sid"></app-support-data>
<app-message-data *ngIf="moduleUniqueName=='msgprovider'" [data]="data" [sid]="sid"></app-message-data>
