<ion-toolbar color="secondary">
    <p class="ion-no-padding ion-no-margin" style="font-size: 20px">Tools</p>
    <ion-button (click)="toogleFullView()">
        <ion-icon name="expand"></ion-icon>
    </ion-button>
</ion-toolbar>
<ion-row>
    <ion-col [sizeXl]="uiSizes[0].xl" size="12">
        <app-charts [mins]="graphMinutes" [noFill]="true" [percentageSlider]="false" [percentage]="false" [sid]="sid"
                    [avgMaxMinColorRevert]="true" [avgMaxMin]="true" [stacked]="false"
                    [type]="[7]" [uiSize]="uiSizes[0]" name="User online"></app-charts>
    </ion-col>
    <ion-col [sizeXl]="uiSizes[1].xl" size="12">
        <app-charts [mins]="graphMinutes" [percentage]="true" [sid]="sid" [type]="[1,2,3,4]"
                    [uiSize]="uiSizes[1]" name="User Location"></app-charts>
    </ion-col>
    <ion-col [sizeXl]="uiSizes[2].xl" size="12">
        <app-charts [mins]="graphMinutes" [percentage]="true" [sid]="sid" [type]="[5]"
                    [uiSize]="uiSizes[2]" name="User Client Version"></app-charts>
    </ion-col>
    <ion-col [sizeXl]="uiSizes[3].xl" size="12">
        <app-charts [mins]="graphMinutes" [noFill]="true" [percentageSlider]="false" [percentage]="false" [sid]="sid"
                    [avgMaxMin]="true" [stacked]="false"
                    [type]="[6]" [uiSize]="uiSizes[3]" name="Server Ping"></app-charts>
    </ion-col>
    <ion-col [sizeXl]="uiSizes[4].xl" size="12">
        <app-charts [mins]="graphMinutes" [percentage]="true" [sid]="sid" [type]="[0]"
                    [uiSize]="uiSizes[4]" name="User by Platform"></app-charts>
    </ion-col>
</ion-row>
