<ion-card>
    <ion-card-header>
        <ion-card-title>

        </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <h2 style="font-size: 20px">{{name}}</h2>
                </ion-col>
                <ion-col size="5">
                    <ion-item *ngIf="type.length>1">
                        <ion-label class="ion-float-right">Data</ion-label>
                        <ion-select (ngModelChange)="update()" [(ngModel)]="selectedType" interface="popover">
                            <ion-select-option *ngFor="let t of type"
                                               [value]="t">{{StatType[t]}}</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-col>
                <ion-col *ngIf="percentageSlider" class="ion-align-self-end">
                    <ion-item>
                        <ion-label *ngIf="percentage" class="ion-float-right">%</ion-label>
                        <ion-label *ngIf="!percentage" class="ion-float-right">Abs</ion-label>
                        <ion-checkbox (ngModelChange)="update()" [(ngModel)]="percentage"></ion-checkbox>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>

        <canvas #lineCanvas></canvas>
    </ion-card-content>
</ion-card>


