<ion-item>
    <ion-label position="floating">{{text}}</ion-label>
    <ion-select *ngIf="channels" [(ngModel)]="channelReference.channelId" interface="popover">
        <ion-select-option *ngFor="let c of channels" [value]="c.key">{{c.key}}: {{c.value}}</ion-select-option>
    </ion-select>
</ion-item>
