<app-channel-input [sid]="sid" text="Capture the AFK channel" [channelReference]="data.channel"></app-channel-input>

<ion-item>
    <ion-label position="floating">Maximal users to show</ion-label>
    <ion-input [(ngModel)]="data.maxUser" min="3" max="25"></ion-input>
</ion-item>

<ion-item>
    <ion-label>Show everything</ion-label>
    <ion-checkbox [(ngModel)]="data.showAll"></ion-checkbox>
</ion-item>

<ion-item>
    <ion-label>Show last 2 weeks</ion-label>
    <ion-checkbox [(ngModel)]="data.showLatest"></ion-checkbox>
</ion-item>

<ion-item>
    <ion-label position="floating">Update every {{data.updateTime}} minutes</ion-label>
    <ion-input type="number" min="0" max="360" [(ngModel)]="data.updateTime"></ion-input>
</ion-item>


<ion-item>
    <ion-label>Advanced settings</ion-label>
    <ion-checkbox [(ngModel)]="advanced"></ion-checkbox>
</ion-item>

<div *ngIf="advanced" padding-start>
    <ion-item>
        <ion-label>Use last 2 weeks as winner</ion-label>
        <ion-checkbox [(ngModel)]="data.winnerLatest"></ion-checkbox>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Channel name</ion-label>
        <ion-input [(ngModel)]="data.channelName"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Channel description</ion-label>
        <ion-input [(ngModel)]="data.channelDescription"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Place line</ion-label>
        <ion-input [(ngModel)]="data.line"></ion-input>
    </ion-item>

</div>

