<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="!module">Edit a module (Loading)</ion-title>
        <ion-title *ngIf="module">Edit {{module.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <app-moduleeditfield *ngIf="module&&data" [moduleUniqueName]="module.uniqueName" [data]="data" [sid]="sid" [id]="id"></app-moduleeditfield>

    <br>
    <ion-button expand="full" (click)="send()">Edit Module</ion-button>
</ion-content>
