:root {
  --ion-color-primary: #223344;
  --ion-color-primary-rgb: 34,51,68;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #1e2d3c;
  --ion-color-primary-tint: #384757;

  --ion-color-secondary: #ffca00;
  --ion-color-secondary-rgb: 255,202,0;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #e0b200;
  --ion-color-secondary-tint: #ffcf1a;

  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112,68,255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16,220,96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  --ion-color-warning: #ff9d00;
  --ion-color-warning-rgb: 255,157,0;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e08a00;
  --ion-color-warning-tint: #ffa71a;

  --ion-color-danger: #f04175;
  --ion-color-danger-rgb: 240,65,117;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d33967;
  --ion-color-danger-tint: #f25483;

  --ion-color-dark: #101820;
  --ion-color-dark-rgb: 16,24,32;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #0e151c;
  --ion-color-dark-tint: #282f36;

  --ion-color-medium: #e6bc1a;
  --ion-color-medium-rgb: 230,188,26;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #caa517;
  --ion-color-medium-tint: #e9c331;

  --ion-color-light: #fff8e0;
  --ion-color-light-rgb: 255,248,224;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0dac5;
  --ion-color-light-tint: #fff9e3;

  --ion-background-color: #fff8e0;
}
