<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>GDPR / DSGVO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div *ngIf="key">
    <h2>Your GDPR Request</h2>
    <ion-button (click)="expand=false" *ngIf="expand" [disabled]="!done">
      <ion-icon name="arrow-dropup-circle" slot="start"></ion-icon>
      Hide Data
    </ion-button>
    <ion-button (click)="expand=true" *ngIf="!expand" [disabled]="!done">
      <ion-icon name="arrow-dropdown-circle" slot="start"></ion-icon>
      Show Data
    </ion-button>
    <ion-button (click)="download()" [disabled]="!done">
      <ion-icon name="code-download" slot="start"></ion-icon>
      as json
    </ion-button>
    <a id="downloadAnchorElem" style="display:none"></a>
    <p *ngIf="!done">{{status}}</p>
    <ion-card *ngIf="expand">
      <ion-card-content>
        <p style="white-space: pre-wrap;">{{gdprData | json}}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="!key">
    <h2>Get your GDPR data</h2>
    <p>1. Connect to any TS3 server which uses BeeBot (example "karlthebee.de")</p>
    <p>2. Enable Querys</p>
    <p>3. Send a private message to "BeeBot" with content "gdpr"</p>
    <p>4. You will get a link coontaining your GDPR data</p>
  </div>

</ion-content>
