<ion-app>
    <ion-split-pane>
        <ion-menu color="primary">
            <ion-header>
                <ion-toolbar color="secondary">
                    <ion-title>BeeBot</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content color="primary"class="ion-no-padding">
                <ion-list color="primary"class="ion-no-padding">
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages" color="primary">
                        <!-- normal routing -->
                        <ion-item color="primary"
                                  *ngIf="!p.advRouting && ((online.token && p.showLogin) || (!online.token && p.showLogoff))"
                                  [routerDirection]="'root'" [routerLink]="[p.url]">
                            <ion-icon color="light" slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                        </ion-item>
                        <!-- advanced routing -->
                        <ion-item color="primary"
                                  *ngIf="p.advRouting  && online.selectedServer && ((online.token && p.showLogin) || (!online.token && p.showLogoff))"
                                  [routerDirection]="'root'"
                                  [routerLink]="[p.url.replace(':sid',online.selectedServer.id)]">
                            <ion-icon color="light" slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <!-- Server List -->
                    <ion-menu-toggle *ngFor="let s of online.server" auto-hide="false" color="primary">
                        <ion-item [routerDirection]="'root'" [routerLink]="['/dashboard/'+s.id]" color="primary">
                            <ion-icon color="light" name="analytics" slot="start">
                            </ion-icon>
                            <ion-label>{{s.name}}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>

                    <!-- Server Loading indicator -->
                    <ion-item *ngIf="online.serverState==0" color="primary">
                        <ion-spinner color="light" name="crescent"></ion-spinner>
                        <p>Loading server...</p>
                    </ion-item>
                    <ion-item *ngIf="online.serverState==2" color="primary">
                        <p color="danger">Could not load server list. Reload the page.</p>
                    </ion-item>
                </ion-list>

                <ion-button color="primary" expand="block" *ngIf="online.token!=null" [routerLink]="['/settings']">
                    <ion-icon name="cog"></ion-icon>
                    Account Settings
                </ion-button>
                <ion-button color="danger" fill="block" *ngIf="online.token!=null"
                            (click)="online.logout()">Log out
                </ion-button>

            </ion-content>
            <a [routerLink]="'contact'" color="primary">Kontakt</a>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>
