<ion-item>
  <ion-label position="floating">{{text}}</ion-label>
  <ion-select *ngIf="serverGroups" [(ngModel)]="servergroupReference.groupId">
    <ion-select-option *ngFor="let g of serverGroups" [value]="g.key">{{g.key}}: {{g.value}}</ion-select-option>
  </ion-select>
</ion-item>