<ion-card>
    <ion-card-header>
        <ion-card-title>
            Server Info
        </ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <p>Created: {{stat.stats.created}}</p>
        <p>Host: {{stat.host}}</p>
    </ion-card-content>
</ion-card>

<ion-card>
    <ion-card-header>
        <ion-card-title>
            Advanced
        </ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <ion-button color="danger">Delete</ion-button>
    </ion-card-content>
</ion-card>
