<h4>Message</h4>
<ion-item>
    <ion-label>
        <ion-icon name="text" slot="start"></ion-icon>
        Message
    </ion-label>
    <ion-input [(ngModel)]="data.message"></ion-input>
</ion-item>


<h4>
    <ion-icon name="person-add" slot="start"></ion-icon>
    Send a Message when a user joins
</h4>
<ion-radio-group [(ngModel)]="checkChannel" (ngModelChange)="updateData()">
    <ion-item>
        <ion-label>the server</ion-label>
        <ion-radio value="false"></ion-radio>
    </ion-item>
    <ion-item>
        <ion-label>a specific channel</ion-label>
        <ion-radio value="true"></ion-radio>
    </ion-item>
</ion-radio-group>
<app-channel-input *ngIf="checkChannel=='true'" padding-start text="Channel" [sid]="sid"
                   [channelReference]="data.channel"></app-channel-input>


<h4>
    <ion-icon name="people" slot="start"></ion-icon>
    Send the message to
</h4>
<ion-radio-group [(ngModel)]="checkGroup" (ngModelChange)="updateData()">
    <ion-item>
        <ion-label>all user</ion-label>
        <ion-radio value="false"></ion-radio>
    </ion-item>
    <ion-item>
        <ion-label>user with a specific group</ion-label>
        <ion-radio value="true"></ion-radio>
    </ion-item>
</ion-radio-group>
<app-servergroup-input *ngIf="checkGroup=='true'" padding-start text="Group" [sid]="sid"
                       [servergroupReference]="data.group"></app-servergroup-input>

<h4>
    <ion-icon name="time" slot="start"></ion-icon>
    Restrict time
</h4>
<ion-radio-group [(ngModel)]="checkTime" (ngModelChange)="updateTime()">
    <ion-item>
        <ion-label>No restriction</ion-label>
        <ion-radio value="false"></ion-radio>
    </ion-item>

    <ion-item>
        <ion-label>To a specific time</ion-label>
        <ion-radio value="true"></ion-radio>
    </ion-item>
</ion-radio-group>

<div *ngIf="checkTime=='true'" padding-vertical>
    <ion-item>
        <ion-label>From</ion-label>
        <ion-datetime [(ngModel)]="data.start" display-format="DD.MMM.YYYY HH:mm"></ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label>To</ion-label>
        <ion-datetime [(ngModel)]="data.end" display-format="DD.MMM.YYYY HH:mm"></ion-datetime>
    </ion-item>
</div>
