<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="reload()"><ion-icon name="refresh"></ion-icon></ion-button>
        </ion-buttons>
        <ion-title>Server Overview</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <div *ngIf="online.serverState==0">
        <h1>Loading Server</h1>
        <p>Please wait a few seconds</p>
    </div>
    <div *ngIf="online.serverState==1 && online.server.length==0">
        <h1>You have no server</h1>
        <p>But you can start by creating one... </p>
    </div>
    <div *ngIf="online.serverState==2">
        <h1>An Error occured :(</h1>
        <p>Please reload the page</p>
    </div>
    <ion-list *ngFor="let s of online.server">
        <ion-item>
            <ion-card [routerLink]="['/dashboard/' + s.id]" color="primary" style="width:100%">
                <ion-card-header>
                    <ion-card-title>{{s.name}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    {{s.host}} · {{s.stats.userCurrent}}/{{s.stats.userMax}} User · {{s.stats.ping}}ms
                </ion-card-content>
            </ion-card>
        </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="router.navigate(['/server/create'])">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

</ion-content>
