<app-channel-input text="Parent Channel" [sid]="sid" [channelReference]="data.channel"></app-channel-input>

<ion-item>
    <ion-label position="floating">Channel name</ion-label>
    <ion-input [(ngModel)]="data.channelName" maxlength="48"></ion-input>
</ion-item>

<ion-item>
    <ion-label position="floating">Channel description</ion-label>
    <ion-input [(ngModel)]="data.channelDescription" maxlength="5000"></ion-input>
</ion-item>

<ion-item>
    <ion-label *ngIf="data.deleteDelay>0" position="floating">Delete inactive channel after {{data.deleteDelay}}
        seconds
    </ion-label>
    <ion-label *ngIf="data.deleteDelay==0" position="floating">Never delete an channel</ion-label>
    <ion-input [(ngModel)]="data.deleteDelay" type="number" min="0"></ion-input>
</ion-item>

<ion-item>
    <ion-label position="floating">User Message</ion-label>
    <ion-input [(ngModel)]="data.message" maxlength="128"></ion-input>
</ion-item>

<app-channelgroup-input text="Channel admin group" [sid]="sid"
                        [channelgroupReference]="data.adminGroup"></app-channelgroup-input>
