<ion-item>
    <ion-label position="floating">{{text}}</ion-label>
    <ion-select *ngIf="channelGroups" [(ngModel)]="channelgroupReference.groupId">
        <ion-select-option *ngFor="let g of channelGroups" [value]="g.key">{{g.key}}: {{g.value}}</ion-select-option>
    </ion-select>
</ion-item>
