<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Create an server</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-button fill="outline" [disabled]="step<=0">1. Server URL</ion-button>
    <ion-button fill="outline" [disabled]="step<=1">2. Flood</ion-button>
    <ion-button fill="outline" [disabled]="step<=2">3. Verification</ion-button>


    <ion-card *ngIf="step==1">
        <ion-card-header>
            <ion-card-title>1. Hello!</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>In just three steps we are going to create your own BeeBot server. Let's start by adding your server domain
                name or IP</p>
            <p>The domain name ('example.com') is preferred over the IP ('127.0.0.1') because an IP could change over
                time. Please do not enter an port!</p>
            <ion-item>
                <ion-label>Server url</ion-label>
                <ion-input [(ngModel)]="data.host" minlength="5"></ion-input>
            </ion-item>
            <ion-button *ngIf="!busy" (click)="step1()">Next Step</ion-button>
            <ion-button *ngIf="busy">
                <ion-spinner name="dots"></ion-spinner>
                Checking connectivity
            </ion-button>
        </ion-card-content>
    </ion-card>

    <ion-card *ngIf="step==2">
        <ion-card-header>
            <ion-card-title>2. Flood access (optional)</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Because of the way TeamSpeak handles spam, our bot needs to
                be in a whitelist or it may lag behind, especially on big server (>32 clients)</p>
            <p>Please goto your server folder, open the file 'query_ip_whitelist.txt' and add '127.0.0.1' to the last
                line</p>
            <p>If you don't want to do this or can't access the file, you can skip the step, but it's preferred to
                activate it.</p>
            <ion-item>
                <ion-label>Yes, I activated flood</ion-label>
                <ion-checkbox [(ngModel)]="data.flood"></ion-checkbox>
            </ion-item>
            <ion-button *ngIf="!busy" (click)="step=1" color="secondary">Back</ion-button>
            <ion-button *ngIf="!busy" (click)="step=3">Next Step</ion-button>
        </ion-card-content>
    </ion-card>


    <ion-card *ngIf="step==3">
        <ion-card-header>
            <ion-card-title>3. Login & Verification</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Please create an new query login as seen above. You can use the default 'serveradmin' if you want to. The
                query account needs admin permissions to operate appropriately</p>
            <ion-item>
                <ion-label>Query name</ion-label>
                <ion-input [(ngModel)]="data.queryName"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Query password</ion-label>
                <ion-input [(ngModel)]="data.queryPassword"></ion-input>
            </ion-item>

            <br>
            <h1>Verification</h1>
            <p>At last, we need you to verificate that you own the server.</p>
            <p>To do so please change the name of the virtual server to '<b>{{verificationCode}}</b>'</p>
            <p>After verification you can change the name back</p>
            <ion-button *ngIf="!busy" (click)="step=2" color="secondary">Back</ion-button>
            <ion-button *ngIf="!busy" (click)="step3()">Done</ion-button>
            <ion-button *ngIf=" busy">
                <ion-spinner name="dots"></ion-spinner> Creating server
            </ion-button>
        </ion-card-content>
    </ion-card>

</ion-content>
