<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title *ngIf="!selectedModule">Add a module</ion-title>
        <ion-title *ngIf="selectedModule">Add {{selectedModule.name}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid *ngIf="selectedModule==null">
        <ion-row>
            <ion-col *ngFor="let module of modulesNonForced" size="12" sizeMd="6" sizeXl="4">
                <ion-card *ngIf="!module.forced" color="primary" style="width:100%">
                    <ion-card-header>
                        <ion-card-title>
                            {{module.name}}
                        </ion-card-title>
                    </ion-card-header>
                    <ion-card-content style="">
                        <p style="height:100px">{{module.description}}</p>
                        <br>
                        <ion-button (click)="setModule(module)" color="secondary" expand="full">Select</ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div *ngIf="selectedModule!=null">
        <app-moduleeditfield [sid]="sid" [data]="data" id="-1"
                             [moduleUniqueName]="selectedModule.uniqueName"></app-moduleeditfield>
        <br>
        <ion-button expand="full" (click)="send()">Add Module</ion-button>
    </div>
</ion-content>
