<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-title *ngIf="stat">Dashboard : {{stat.name}}</ion-title>
                    <ion-title *ngIf="!stat">Dashboard</ion-title>
                </ion-col>
                <ion-col *ngIf="tab=='graphs'">
                    <ion-label>Timespan</ion-label>
                    <ion-select (ngModelChange)="update()" [(ngModel)]="graphMinutes" interface="popover">
                        <ion-select-option [value]="           30">30min</ion-select-option>
                        <ion-select-option [value]="           60">1h</ion-select-option>
                        <ion-select-option [value]="       3 * 60">3h</ion-select-option>
                        <ion-select-option [value]="      12 * 60">12h</ion-select-option>
                        <ion-select-option [value]="      24 * 60">1d</ion-select-option>
                        <ion-select-option [value]="  7 * 24 * 60">1w</ion-select-option>
                        <ion-select-option [value]=" 31 * 24 * 60">1m</ion-select-option>
                        <ion-select-option [value]=" 31 * 24 * 60">3m</ion-select-option>
                        <ion-select-option [value]="365 * 24 * 60">1j</ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>


</ion-header>

<ion-content>
    <ion-segment (ionChange)="tabChange($event)" [(ngModel)]="tab" color="primary" value="overview">
        <ion-segment-button value="overview">
            <ion-icon name="analytics"></ion-icon>
            <ion-label>Overview</ion-label>
        </ion-segment-button>
        <ion-segment-button value="modules">
            <ion-icon name="chatboxes"></ion-icon>
            <ion-label>Modules</ion-label>
        </ion-segment-button>
        <ion-segment-button value="graphs">
            <ion-icon name="pie"></ion-icon>
            <ion-label>Graphs</ion-label>
        </ion-segment-button>
        <ion-segment-button value="clients">
            <ion-icon name="people"></ion-icon>
            <ion-label>Clients</ion-label>
        </ion-segment-button>
        <ion-segment-button value="info">
            <ion-icon name="information-circle"></ion-icon>
            <ion-label>Info</ion-label>
        </ion-segment-button>

    </ion-segment>
    <ion-refresher (ionRefresh)="reload($event)" slot="fixed">
        <ion-refresher-content>

        </ion-refresher-content>
    </ion-refresher>
    <app-overview *ngIf="tab=='overview'" [stats]="stat" [tree]="serverTree"></app-overview>
    <app-clients *ngIf="tab=='clients'" [sid]="sid"></app-clients>
    <app-modules *ngIf="tab=='modules'" [sid]="sid"></app-modules>
    <app-graphs *ngIf="tab=='graphs'" [graphMinutes]="graphMinutes" [sid]="sid"></app-graphs>
    <app-info *ngIf="tab=='info'" [stat]="stat"></app-info>


</ion-content>
