<ion-header>
    <ion-toolbar color="primary">
        <ion-title *ngIf="!logLinesFiltered">Log Viewer</ion-title>
        <ion-title *ngIf="logLinesFiltered && logLines.length==logLinesFiltered.length">Log Viewer: {{logLines.length}}
            Entries
        </ion-title>
        <ion-title *ngIf="logLinesFiltered && logLines.length!=logLinesFiltered.length">Log
            Viewer: {{logLinesFiltered.length}} / {{logLines.length}} Entries
        </ion-title>
        <ion-select *ngIf="logs&&selectedLog" [(ngModel)]="selectedLog" (ngModelChange)="selectLog()">
            <ion-select-option *ngFor="let log of logs" [value]="log">{{log}}</ion-select-option>
        </ion-select>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-item>
        <ion-label>Filter</ion-label>
        <ion-input [(ngModel)]="filter" (ngModelChange)="filterLogs()"></ion-input>
    </ion-item>

    <h2>User</h2>
    <div *ngFor="let server of user">
        <ion-grid>
            <ion-row>
                <div *ngFor="let u of server">

                    <ion-colclass="ion-no-padding"="" size="12" sizeLg="4" sizeMd="6">
                        <ion-card>
                            <ion-card-header>
                                <ion-card-title>{{u.nickname}}</ion-card-title>
                            </ion-card-header>
                            <ion-card-content>
                                <p>UID: {{u.uid}}</p>
                                <p>IP: {{u.ip}}}</p>
                                <p *ngIf="!u.geoData">Location: (unknown)</p>
                                <p *ngIf="u.geoData">Location: <a
                                        href="https://www.google.com/maps/search/?api=1&query={{u.geoData.latitude}},{{u.geoData.longitude}}"
                                        target="_blank">{{u.geoData.postal_code}} {{u.geoData.city}}
                                    , {{u.geoData.country_code}}</a></p>
                                <p>Joined: {{u.joined}}</p>
                                <p>Left: {{u.leaved}}</p>
                                <p>Platform: {{u.type.platform}} {{u.type.version}}</p>
                            </ion-card-content>
                        </ion-card>
                    </ion-col>

                </div>
            </ion-row>
        </ion-grid>
    </div>
    <h2>Logs</h2>
    <div *ngIf="logLinesFiltered">
        <div *ngFor="let line of logLinesFiltered">
            {{line}}
        </div>
    </div>

    <ion-spinner *ngIf="loadingLog" name="crescent"></ion-spinner>
</ion-content>

