<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Module Logs</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher close-duration="2000" (ionRefresh)="update()">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-spinner *ngIf="state==0"></ion-spinner>

    <ion-grid *ngIf="state==1">
        <ion-row>
            <ion-col size="1"><b>Status</b></ion-col>
            <ion-col size="3"><b>Date</b></ion-col>
            <ion-col size="8"><b>Message</b></ion-col>
        </ion-row>

        <ion-row *ngFor="let log of logs">
            <ion-col size="1">
                <ion-icon *ngIf="!log.okay" name="alert"></ion-icon>
                <ion-icon *ngIf="log.okay" name="checkmark"></ion-icon>
            </ion-col>
            <ion-col size="3">
                {{log.date | date : 'medium'}}
            </ion-col>
            <ion-col size="8">
                {{log.message}}
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>
