<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons *ngIf="!online.token" slot="end">
            <ion-button [routerLink]="['/login']">
                <ion-icon name="log-in"></ion-icon>
                Sign in
            </ion-button>
        </ion-buttons>
        <ion-title>
            BeeBot
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="primary">
    <!--<div padding style="background-image: url('https://beelobby.de/wp-content/uploads/2018/12/photo_2018-12-30_19-04-57-1024x683.jpg')">
-->
    <div padding>
        <h1 text-center>Bee creative</h1>

        <br><br><br>
        <h1 text-center>Enhance your server.</h1>
        <br>
        <ion-grid>
            <ion-row *ngFor="let m of modules" padding-bottom>
                <ion-col size="1">
                    <ion-icon [name]="m.icon" color="secondary" style="font-size: 48px"></ion-icon>
                </ion-col>
                <ion-col size="3">
                    <h2>{{m.title}}</h2>
                </ion-col>
                <ion-col>
                    <p>{{m.description}}</p>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-button *ngIf="!online.token" color="secondary" [routerLink]="['/login']" >Login</ion-button>

    </div>

</ion-content>
