<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-title *ngIf="!stats">Monitor</ion-title>
                    <ion-title *ngIf="stats">{{stats.name}}</ion-title>
                </ion-col>
                <ion-col>
                    <ion-label>Timespan</ion-label>
                    <ion-select interface="popover" [(ngModel)]="mins" (ngModelChange)="update()">
                        <ion-select-option [value]="           60">30min</ion-select-option>
                        <ion-select-option [value]="           60">1h</ion-select-option>
                        <ion-select-option [value]="       3 * 60">3h</ion-select-option>
                        <ion-select-option [value]="      12 * 60">12h</ion-select-option>
                        <ion-select-option [value]="      24 * 60">1d</ion-select-option>
                        <ion-select-option [value]="  7 * 24 * 60">1w</ion-select-option>
                        <ion-select-option [value]=" 31 * 24 * 60">1m</ion-select-option>
                        <ion-select-option [value]=" 31 * 24 * 60">3m</ion-select-option>
                        <ion-select-option [value]="365 * 24 * 60">1j</ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>
        </ion-grid>


    </ion-toolbar>
</ion-header>

<ion-content padding>




    <ion-grid>
        <h2>Dashboard</h2>
        <ion-row>
            <app-monitor-ping-card [ping]="stats.stats.ping"></app-monitor-ping-card>
            <app-monitor-user-card [currentUser]="stats.stats.userCurrent"
                                   [maxUser]="stats.stats.userMax"></app-monitor-user-card>
            <app-monitor-software-card [type]="stats.stats.type"></app-monitor-software-card>
            <app-monitor-module-card [sid]="stats.id"></app-monitor-module-card>
        </ion-row>

        <h2>Statistics</h2>
        <ion-row>
            <ion-col size="12" sizeXl="6">
                <app-charts [mins]="mins" [percentageSlider]="false" [percentage]="false" [sid]="sid" [type]="[7]"
                            name="User online"
                            [stacked]="false"></app-charts>
            </ion-col>
            <ion-col size="12" sizeXl="6">
                <app-charts name="User Location" [sid]="sid" [type]="[1,2,3,4]" [mins]="mins"
                            [percentage]="true"></app-charts>
            </ion-col>
            <ion-col size="12" sizeXl="6">
                <app-charts [mins]="mins" [percentage]="true" [sid]="sid" [type]="[5]"
                            name="User Client Version"></app-charts>
            </ion-col>
            <ion-col size="12" sizeXl="6">
                <app-charts [mins]="mins" [percentageSlider]="false" [percentage]="false" [sid]="sid" [type]="[6]"
                            name="Ping to server"
                            [stacked]="false"></app-charts>
            </ion-col>
            <ion-col size="12" sizeXl="6">
                <app-charts name="User by Platform" [sid]="sid" [type]="[0]" [mins]="mins"></app-charts>
            </ion-col>
        </ion-row>
        <h2>Administration</h2>
        <ion-row>
            <ion-button (click)="router.navigate(['/poke/' + sid])">
                Poke user
            </ion-button>
            <app-user-poke *ngIf="pokeModal" [sid]="sid"></app-user-poke>
        </ion-row>
    </ion-grid>


    <div>

    </div>


    <!--
        <app-servertree *ngIf="tree" [tree]="tree"></app-servertree>-->
</ion-content>
