<ion-header>
    <ion-toolbar color="secondary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Settings & User Account</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-grid style="background-color: var(--ion-color-primary);color: var(--ion-color-primary-contrast)">
        <ion-row>
            <ion-col size="3">
                <ion-icon style="font-size: 128px" name="contact"></ion-icon>
            </ion-col>
            <ion-col size="9">
                <h1>Hello, {{data.name}}</h1>
                <p>E-Mail : {{data.mail}}</p>
            </ion-col>
        </ion-row>

    </ion-grid>


    <ion-card>
        <ion-card-header>
            <ion-card-title>
                Change your password
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-item>
                <ion-label>Old password</ion-label>
                <ion-input [(ngModel)]="oldPassword" type="password" minlength="6"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>New password</ion-label>
                <ion-input [(ngModel)]="newPassword" type="password" minlength="6"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Reenter new password</ion-label>
                <ion-input [(ngModel)]="newPassword2" type="password" minlength="6"></ion-input>
            </ion-item>
            <ion-button (click)="changePassword()">Change Password</ion-button>
        </ion-card-content>
    </ion-card>

</ion-content>
